
@import url(./__list/photo-grid__list.css);
@import url(./__item/photo-grid__item.css);
@import url(./__card/photo-grid__card.css);
@import url(./__image/photo-grid__image.css);
@import url(./__description/photo-grid__description.css);
@import url(./__title/photo-grid__title.css);
@import url(./__btn/photo-grid__btn.css);
@import url(./__btn/_action/photo-grid__btn_action_like.css);

.photo-grid {
  max-width: 882px;
  padding: 0;
  padding-top: 50px;
  margin: 0 auto;
}

@media screen and (max-width: 890px) {
  .photo-grid {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 400px) {
  .photo-grid {
    padding-top: 36px;
  }
}