
.photo-grid__btn_action_like {
  width: 20px;
  height: 20px;

  background-image: url(../../../../images/photo-grid-btn-like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: .3s;
}

.photo-grid__btn_action_like:hover {
  transform: scale(1.12);  
}