
.photo-grid__description {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 25px 18px 30px 18px;
  margin: 0 auto;
}