.popup__btn_action_close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../../icons/popup-btn-close.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media 
screen and (max-width: 400px),
screen and (max-height: 400px) {
  .popup__btn_action_close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}

